<form (ngSubmit)="submitpro(form)" #form='ngForm'>
    <label for="name">id:</label>
    <input type="text" name='id' #name="ngModel" ngModel>
    <label for="name">name</label>
    <input type="text" name='name' #name="ngModel" ngModel>
    <label for=" price ">price:</label>
    <input type="text " name='price' #price="ngModel" ngModel>
    <label for=" description ">description:</label>
    <input type="text " name='descripion' #name="ngModel" ngModel>
    <input type="submit" value='add'>

</form>